body {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

.center-navbar {
  width: 50%;
  margin: auto;
}

.news-image {
  width: 100%;
}

.news-border {
  border-top: 5;
  border-bottom: 0;
  border-style: solid;
  border-right: 0;
  border-left: 0;
}
